body {
  font-family: 'Source Sans Pro', sans-serif;
}
:root{
    --bgc: black;
    --txtc: white;
    --boxcolor: #032B3A;
    --headerfont: font-family: 'Staatliches'; 
}

/*Kode til video baggrund fundet på w3schools - https://www.w3schools.com/howto/howto_css_fullscreen_video.asp*/
#myVideo {
    background-size: cover;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: auto;
    height: auto;
  }

  /*Navigation*/
  .top-nav{
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.048);
  }
  
  .nav-ul {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    list-style-type: none;
    width: 95%;
  }
  .nav-ul.show{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .nav-ul li a {
    display: inline-block;
    padding: 0.5em;
    padding-right:2rem;
    padding-left:2rem;
    color: #FCFCFC;
    text-decoration: none;
    width: 100%;
  }
  
  nav a:hover,
  nav a:focus {
    color: aqua;
  }
  
  .retroweblogo{
    width: 50%;
    height: 50%;
  }
  .naviconlogo{
      width: 50%;
      height: auto;
  }
  
  .hamburger{
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    display: block;
    background-color: transparent;
  }
  
  .hamburger:focus{
    outline: none;
  }

  /*Portfolio*/
  .headerimg{
    width: 60%;
    height: auto;
    display: block;
    margin-left: 4.375rem;
  }
  .portfolio-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .pfbillede{
    width: 60%;
    height: auto;
    margin-top: 1.25rem;
    margin-bottom: 0.3125rem;
    margin-left: 4.375rem;
    display: flex;
    justify-content: center;
  }
  .releatherbillede{
    margin: 0.625rem;
  }
  .pf{
    background-color: var(--boxcolor);
    color: var(--txtc);
    padding: 0.625rem;
    margin-left: 4.7rem;
    margin-right: 4.7rem;
  }
  .pfheader{
    font-family: var(--headerfont);
  }

  .bottomspace{
    margin-bottom: 5rem;
  }

/*About Me*/
  .myname{
    width: 60%;
    height: auto;
    display: block;
    margin-left: 4.375rem;
  }
  .aboutmeinfo{
    background-color: var(--boxcolor);
    color: var(--txtc);
    padding: 0.625rem;
  }
  .picofme{
    width: 70%;
    height: auto;
    display: block;
    align-items: center;
  }
  .skillsection {
    background-color: var(--boxcolor);
    color: var(--txtc);
    margin-top: 1.25rem;
    padding: 0.625rem;
    margin-bottom: 1.25rem;
  }
  .skilltitle{
    font-family: var(--headerfont);
    margin-left: 11px;
    font-size: 38px;
    font-weight: bold;
  }
  .skillunder{
    margin-left: 1.25rem;
  }
  .skillimg {
    width: 70%;
    height: auto;
    margin-left: 1.25rem;
  }

  /*Contact*/
  .contactsection{
    background-color: var(--boxcolor);
    color: var(--txtc);
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-bottom: 1.25rem; 
  }
  .wtfm{
    font-size: 24px;
    margin: 1.25rem;
  }
  .contacttext{
    font-size: 20px;
    margin: 1.25rem;
  }
  .mail{
    margin-top: 8rem;
    border-bottom: 2px solid var(--txtc);
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    font-size: 20px;
  }
  .phonenumber{
    border-bottom: 2px solid var(--txtc);
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    font-size: 20px;
  }
  .someicons{
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 1.8rem;;
  }

/*Desktop*/
  @media screen and (min-width: 767px) {
    /*Navbar*/
    .top-nav{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }   
    .nav-ul{
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: right;
      padding: 0;
    }
    .nav-ul li a {
      display: inline-block
    }
    .retroweblogo{
      width: 25%;
      height: auto;
    }
    .naviconlogo{
      width: 25%;
      height: auto;
    }
    .hamburger{
      display: none;
    }

    /*Portfolio*/
    .siteinfo{
      display: flex;
      justify-content: center;
    }
    .headerimg{
      width: 40%;
      height: auto;
      align-items: center;
    }
    .portfolio-section{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    .pfcontainer{
      max-width: 600px;
    }
    .pfbillede{
      width: 70%;
      height: auto;
      margin-top: 1.25rem;
      margin-bottom: 0.3125rem;
    }
    .balletbillede{
      width: 78%;
      height: auto;
    }
    .releatherbillede{
      width: 78%;
      height: auto;
      margin: 0;
      text-align: center;
    }
    .bollywood {
      width: 85%;
      height: auto;
    }
    .videos {
      width: 85%;
      height: auto;
    }
    .pf{
      background-color: var(--boxcolor);
      color: var(--txtc);
      padding: 0.625rem;
      margin-left: 4.7rem;
      margin-right: 4.7rem;
    }
    .pfheader{
      font-family: var(--headerfont);
    }
  
    .bottomspace{
      margin-bottom: 5rem;
    }

    /*About Me*/
    .siteinfoabm{
      display: block;
      margin-left: 25rem;
    }
    .myname{
      width: 40%;
      height: auto;
      display: block;
      align-items: center;
    }
    .aboutmeinfo{
      background-color: var(--boxcolor);
      color: var(--txtc);
      padding: 4.7rem;
      margin-left: 4.7rem;
      margin-right: 4.7rem;
      align-items: center;
    }
    .abmtext {
      margin-bottom: 1.25rem;
    }
    .picofme{
      width: 50%;
      height: auto;
      display: block;
      align-items: center;
    }
    .skillsection {
      background-color: var(--boxcolor);
      color: var(--txtc);
      margin-top: 1.25rem;
      padding: 0.625rem;
      margin-left: 4.7rem;
      margin-right: 4.7rem;
      margin-bottom: 6rem;
    }
    .skilltitle{
      font-family: var(--headerfont);
      margin-left: 11px;
      font-size: 38px;
      font-weight: bold;
    }
    .skillunder{
      font-size: 29px;
      margin-left: 4.7rem;
    }
    .skillimg {
      width: 18%;
      height: auto;
      margin-right: 5.4rem;
      margin-left: 5.4rem;
      margin-bottom: 4.7rem;
    }

    /*Contact*/
    .contactsection{
      background-color: var(--boxcolor);
      color: var(--txtc);
      margin-left: 10rem;
      margin-right: 10rem;
      margin-bottom: 28em;
    }
    .wtfm{
      font-size: 54px;
      margin: 1.25rem;
    }
    .contacttext{
      font-size: 20px;
      margin-left: 10rem;
      margin-right: 10rem;
      margin-top: 5rem;
    }
    .mail{
      margin-top: 8rem;
      border-bottom: 2px solid var(--txtc);
      margin-left: 28rem;
      margin-right: 28rem;
      font-size: 20px;
    }
    .phonenumber{
      border-bottom: 2px solid var(--txtc);
      margin-left: 28rem;
      margin-right: 28rem;
      font-size: 20px;
    }
    .someicons{
      margin-top: 5rem;
      margin-bottom: 5rem;
      margin-left: 33rem;;
    }
  }